<div class="sidebar" data-background-color="white" data-active-color="danger">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="#" class="simple-text"><%= t "admin" %></a>
    </div>
    <ul class="nav">
      <li>
        <a href="index.html">
          <i class="ti-map"></i>
          <p><%= t "usermanage" %></p>
        </a>
      </li>
    </ul>
  </div>
</div>
